@model Bio

    <footer id="footer">
        <div class="footer">
            <div class="row m-0">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="text-img">CUSTOMER SERVICE</p>
                    <ul>
                        <li class="card-foot">
                            <a href="#">Help & Contact Us</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Returns & Refunds</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Online Stores</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="text-img">COMPANY</p>
                    <ul>
                        <li class="card-foot">
                            <a href="#">About Us</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Blog</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Order Tracking</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">FAQ Page</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="text-img">SOCIAL MEDIA</p>
                    <ul>
                        <li class="card-foot">
                            <a href="#">Twitter</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Instagram</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Tumblr</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Pinterest</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="text-img">ARCHIVE</p>
                    <ul>
                        <li class="card-foot">
                            <a href="#">Designer Shoes</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Gallery</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Pricing</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Feature Index</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Login</a>
                        </li>
                        <li class="card-foot">
                            <a href="#">Help & Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row m-0 mt-4 pt-2">
                <div class="col-lg-4 col-md-12 mb-4">
                    <p class="footer-text m-0 m-md-auto">
                        Powered by
                        <a href="#">Mikado Themes</a> 2018
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <img class="m-auto d-block" src="~/img/footer-bottom-1.png" alt="">
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <p class="footer-text m-0 text-right">
                        <a href="@Model.Instagram">INSTAGRAM</a>
                        <a href="@Model.Facebook" class="ml-3">FACEBOOK</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>